@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* HEADER
------------------------------- */
.logo {
    width: 250px;
    margin-top: 20px;
}



.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}


.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}


/* HOME
------------------------------- */
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}



/* 見出し */
.page-title {
    font-size: 3rem;
    font-family: 'josefin slab', serif;
    text-transform: capitalize ;
    font-weight: normal;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: #d9bac9;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
}

#home {
    background-image: url(../images/main-bg.png);
    min-height: 100vh;
}
#home .page-title {
    text-transform: none;
}


/* WORKS
------------------------------- */
#works {
    background-image: url(../images/news-bg.png);
    height: 270px;
    margin-bottom: 15px;
}
#works .page-title {
    text-align: center;
    color: rgb(242, 239, 236);
    margin-top: -55px; 
}


/* フッター
------------------------------- */
footer {
    background: rgb(167, 134, 100);
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6%;
    margin-bottom: 50px;
  }
  
  .item{
   font-family: 'josefin slab', serif; 
  }

  /* 画像*/
article {
    width: 74%;
}



/* 自己紹介 */
aside {
    width: 95%;
}

h1 {
    line-height: 5;
  }


.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


/* フォーム */
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #747171 solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

    /* NEWS */
    .news-contents {
        flex-direction: column;
    }
    article,
    aside {
        width: 100%;
    }
    #news .page-title {
        margin-top: 30px;
    }
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-bottom: 30px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title {
        font-size: 1.375rem;
    }
    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat {
        margin-left: 80px;
    }

    /* MENU */
    .menu-content {
        margin-top: 20%;
    }

/* ↓ この部分追加 ↓ */
    /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }

    /* フォーム */
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }
/* ↑ ここまで追加 ↑ */

}

.iframe-container{ display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center;     /* 垂直方向の中央揃え */
    height: 100vh;        }